@import "../../common/variable";

.wrapper {
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: ( translateX(-50%) translateY(-50%));
  -moz-transform: ( translateX(-50%) translateY(-50%));
  -ms-transform: ( translateX(-50%) translateY(-50%));
  -o-transform: ( translateX(-50%) translateY(-50%));
  transform: ( translateX(-50%) translateY(-50%));
  width: 546*$r;
  .per-choice {
    display: block;
    width: 100%; height: 123*$r;
    color: #c5e7e4; text-align: center; line-height: 123*$r; font-size: 42*$r;
    background: #009688; border-radius: 36*$r;

  }
  .com-choice {
    display: block;
    width: 100%; height: 123*$r; margin-top: 58*$r;
    color: #c5e7e4; text-align: center; line-height: 123*$r; font-size: 42*$r;
    background: #009688; border-radius: 36*$r;
  }
}